.empty-state {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.empty-state-message {
  font-size: var(--text-med);
  color: var(--text-secondary);
}
