.progress-bar-container {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.progress-bar-shape {
  position: relative;
  width: 100%;
}

.progress-bar-value span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-size: var(--text-3xl);
  font-weight: var(--font-weight-bold);
  color: var(--text-accent);
}

.progress-bar-track,
.progress-bar-fill {
  transition: stroke-dashoffset var(--transition-slow), stroke var(--transition-default);
}
