

.state-handler-centered {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;

  text-align: center;
}

.state-handler-error-container {
  flex-direction: column;
  gap: var(--spacing-xlg);
}

.state-handler-empty,
.state-handler-error {
  font-size: var(--text-med);
  text-align: center;
}

.state-handler-error {
  color: var(--text-danger);
}

.state-handler-empty {
  color: var(--text-secondary);
}
