.user-info-error {
  display: flex;
  gap: var(--spacing-lrg);
  align-items: center;
  width: 100%;
}

.user-info-error-icon {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;
  border-radius: var(--radius-full);

  color: var(--icon-danger);

  background-color: var(--bg-secondary-subtle);
}

.user-info-error-content {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: var(--spacing-xxs);
}

.user-info-error-title {
  font-size: var(--text-med);
  font-weight: var(--font-weight-medium);
  color: var(--text-primary);
}

.user-info-error-message {
  font-size: var(--text-sml);
  color: var(--text-secondary);
}
