.checkbox-container {
  position: relative;
  display: inline-block;
  width: 24px;
  height: 24px;
}

.checkbox-input {
  position: absolute;
  left: -9999px;
  width: 100%;
  height: 100%;
}

.checkbox-label {
  cursor: pointer;

  position: relative;

  display: block;

  width: 24px;
  height: 24px;
  border: var(--border-thin-strong);
  border-radius: var(--radius-xsm);

  background-color: var(--bg-secondary-subtle);
}

.checkbox-input:focus-visible + .checkbox-label {
  outline: 2px solid var(--border-accent);
  outline-offset: 1px;
}

.checkbox-input:checked + .checkbox-label {
  border-color: var(--bg-success);
  background-color: var(--bg-success);
}

.checkbox-label::after {
  content: "";

  position: absolute;
  top: 3px;
  left: 8px;
  transform: rotate(45deg);

  width: 7px;
  height: 12px;
  border: 2px solid var(--icon-white);
  border-top: 0;
  border-left: 0;

  opacity: 0;

}

.checkbox-input:checked + .checkbox-label::after {
  opacity: 1;
}
