.area-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.area-item-left {
  display: flex;
  align-items: center;
}

.area-item-details {
  display: flex;
  flex-direction: column;
}

.area-item-name {
  margin-bottom: var(--spacing-sml);
  font-weight: 500;
  color: var(--text-primary);
}

.area-item-count {
  font-size: var(--text-sml);
  color: var(--text-secondary);
}
