@font-face {
  font-family: Roboto;
  font-weight: 400;
  font-style: normal;
  src: url("../assets/fonts/Roboto-Regular.woff2") format("woff2"),
    url("../assets/fonts/Roboto-Regular.woff") format("woff");
}

@font-face {
  font-family: Roboto;
  font-weight: 500;
  font-style: normal;
  src: url("../assets/fonts/Roboto-Medium.woff2") format("woff2"),
    url("../assets/fonts/Roboto-Medium.woff") format("woff");
}

@font-face {
  font-family: Roboto;
  font-weight: 800;
  font-style: normal;
  src: url("../assets/fonts/Roboto-Bold.woff2") format("woff2"), url("../assets/fonts/Roboto-Bold.woff") format("woff");
}
