*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  text-size-adjust: none;
}

li,
ol {
  list-style: none;
}


a {
  color: inherit;
  text-decoration: none;
}

img,
picture {
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  display: block;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}