h1,
h2,
h3 {
  color: var(--text-primary);
  text-wrap: balance;
}

h1 {
  font-size: var(--text-xlg);
  font-weight: var(--font-weight-bold);
  line-height: 1.2;
}

h2 {
  font-size: var(--text-lrg);
  font-weight: var(--font-weight-medium);
  line-height: 1.2;
}

h3 {
  font-size: var(--text-med);
  font-weight: var(--font-weight-medium);
  line-height: 1.3;
}

p,
li {
  font-size: var(--text-med);
  font-weight: var(--font-weight-regular);
  line-height: 1.4;
  text-wrap: pretty;
}

@media (width >= 768px) {
  h1 {
    font-size: var(--text-2xl);
  }
}
