.sidebar-open-menu-btn {
  position: fixed;
  z-index: var(--z-index-fixed);
  top: 16px;
  left: 16px;

  border: var(--border-thin-default);

  box-shadow: var(--box-shadow-med);
}

.sidebar-container {
  position: relative;
}

.sidebar {
  position: fixed;
  z-index: var(--z-index-sidebar);
  top: 0;
  left: 0;
  transform: translateX(-100%);

  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 288px;
  height: 100%;
  padding: var(--spacing-2xl);
  border-right: var(--border-thin-default);

  background-color: var(--bg-secondary);
}

.sidebar.open {
  transform: translateX(0);
}

.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: var(--spacing-2xl);
}

.sidebar-links {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: var(--spacing-sml);
}

.sidebar-link {
  display: flex;
  align-items: center;

  padding: var(--spacing-med) var(--spacing-lrg);
  border-radius: var(--radius-sml);

  color: var(--text-primary);

  background-color: transparent;
}

.sidebar-link:hover {
  color: var(--text-primary);
  background-color: var(--bg-secondary-subtle);
}

.sidebar-link.active {
  color: var(--text-primary);
  background-color: var(--bg-secondary-subtle);
}

.sidebar-link-icon {
  margin-right: var(--spacing-sml);
  color: var(--icon-secondary);
}

.sidebar-link:hover .sidebar-link-icon,
.sidebar-link.active .sidebar-link-icon {
  color: var(--icon-inverted);
}

.sidebar-options {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sml);
}

.sidebar-overlay {
  pointer-events: none;

  position: fixed;
  z-index: var(--z-index-sidebar-overlay);
  inset: 0;

  width: 100%;
  height: 100%;

  opacity: 0;
  background-color: var(--bg-overlay-backdrop);
}

.sidebar-overlay.open {
  pointer-events: all;
  opacity: 1;
}

@media (width >= 1280px) {
  .sidebar-container .sidebar-overlay {
    display: none;
  }

  .sidebar-container .sidebar-open-menu-btn {
    display: none;
  }

  .sidebar-container .sidebar {
    transform: translateX(0);
  }
}
