.spinner {
  display: inline-flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
}

.spinner-xsm {
  width: 20px;
  height: 20px;
}

.spinner-sml {
  width: 24px;
  height: 24px;
}

.spinner-med {
  width: 32px;
  height: 32px;
}

.spinner-circle {
  display: block;

  width: 100%;
  height: 100%;
  border: 3px solid transparent;
  border-radius: 50%;
}

.spinner-accent .spinner-circle {
  border-top-color: var(--border-accent);
}

.spinner-secondary .spinner-circle {
  border-top-color: var(--border-strong);
}

.spinner-light .spinner-circle {
  border-top-color: var(--border-light);
}

.spinner-inverted .spinner-circle {
  border-top-color: var(--border-inverted);
}
