.error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  min-height: 100vh;
}

.error-page-header {
  margin-bottom: var(--spacing-sml);
  font-size: var(--text-4xl);
  font-weight: var(--font-weight-bold);
  color: var(--text-primary);
}

.error-page-subheader {
  margin-bottom: var(--spacing-sml);
  font-size: var(--text-xlg);
  font-weight: var(--font-weight-medium);
  color: var(--text-primary);
}

.error-page-header .digit1 {
  animation-delay: 200ms;
}

.error-page-header .digit2 {
  animation-delay: 300ms;
}

.error-page-header .digit3 {
  animation-delay: 400ms;
}

.digit-fade-in {
  animation: digit-fade-in 2s ease infinite;
}

.error-page-text {
  margin-bottom: var(--spacing-2xl);
  color: var(--text-secondary);
}

.error-page-go-back-link {
  padding: var(--spacing-med) var(--spacing-lrg);
  border-radius: var(--radius-med);

  color: var(--text-white);

  background-color: var(--c-accent-600);

  transition: background-color var(--transition-default);
}

.error-page-go-back-link:hover {
  background-color: var(--c-accent-500);
}

.error-page-go-back-link:active {
  background-color: var(--c-accent-400);
}

@keyframes digit-fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
