.card {
  overflow: hidden;

  padding: var(--spacing-2xl);
  border: var(--border-thin-default);
  border-radius: var(--radius-xlg);

  background-color: var(--bg-secondary);
}

.card-header {
  display: flex;
  flex-shrink: 0;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  margin-bottom: var(--spacing-xlg);
}

.card-body {
  overflow: hidden; 
  display: flex;
  flex: 1; 
  flex-direction: column;
}
